<div class="form-auth p-0">
  <div>
    <div class="form-auth--container">
      <div class="form-auth--header">
        <div class="form-auth--header-icon">
          <%= link_to image_tag("arrow-left.svg", alt: "Logo", class: "navbar--logo"), :back %>
        </div>
        <h2 class="form-auth--header-title">
          Editar Cuenta
        </h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h4 class="pb-4">Datos Personales</h4>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group pb-4">
        <%= f.label :image_url %>
        <%= f.text_field :image_url, autofocus: true, class: "form-control" %>
      </div>

      <hr>
      <h4 class="pt-3">Contraseña</h4>
      <p class="pb-4 text-muted">Mantener en blanco si no deseas cambiar la contraseña</p>

      <div class="form-group">
        <%= f.label :password, "Contraseña" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        <% if @minimum_password_length %>
        <small class="form-text text-muted">Ingresa una contraseña con a lo menos <%= @minimum_password_length %>
          carácteres</small>
        <% end %>
      </div>

      <div class="form-group pb-4">
        <%= f.label :password_confirmation, "Confirma tu nueva contraseña" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <hr>
      <h4 class="pb-4">Confirmar Cambios</h4>

      <div class="form-group pb-3">
        <%= f.label :current_password, "Contraseña Actual" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        <small class="form-text text-muted">Se requiere tu contraseña para confirmar los cambios</small>
      </div>
      <div class="actions pb-4">
        <%= f.submit "Actualizar", class: "btn btn-primary w-100" %>
      </div>
      <% end %>
      <hr>
      <h4 class="pt-2">Cancelar mi cuenta</h4>
      <p class="pb-4 text-muted">¡Recuerda que esta acción es permanente!</p>
      <div class="pb-5 mb-5">
        <%= button_to "Cancelar Cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "btn btn-outline-danger w-100"  %>
      </div>
    </div>
  </div>