<%= form_with model: @tweet do |form| %>
  <div class="form-group">
    <%= form.label :content, "Mensaje" %>
    <%= form.text_area :content, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :image_url, "Url de Imagen" %>
    <%= form.text_field :image_url, class: "form-control" %>
  </div>
  <div class="py-3">
    <%= form.submit "Create", class: "btn btn-secondary" %>
  </div>
<% end %>