<div class="form-auth">
  <%= link_to image_tag("logo.svg", alt: "Logo", style: "max-width: 40px"), tweets_path  %>
  <h2 class="py-4">¿Olvidaste tu contraseñaa</h2>
  <div class="form-auth--container">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :email, "Correo Electrónico" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Recuperar Contraseña", class: "btn btn-primary w-100" %>
    </div>
    <% end %>

     <div class="form-auth--links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
