<!DOCTYPE html>
<html>

<head>
  <title>Twitter Clon</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if request.path != '/users/sign_in' && 
    request.path != '/users/sign_up' &&
    request.path != '/users/password/new'  
  %>
    <%= render "shared/navbar" %>
  <% end %>
  <% flash.each do |key, value| %>
    <div class="alert alert-info"><%= value %></div>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>